<div id="smallFootBox">
  <h2>We got what you need.</h2>
  <img id="smallLogo" style="width:100px;height:auto;"
    src="http://www.housingeurope.eu/image/163/sectionheaderpng/resourcesdef.png" alt="">
</div>