body {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  margin: 0;
  font-family: 'Spinnaker', sans-serif; }

#navBar {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #ff6f69;
  top: 0; }

#welcome {
  font-size: 25px;
  padding: 10px 16px;
  margin: 12px 8px; }

#headerBox {
  background-color: #ff6f69;
  padding: 10px 16px;
  margin-left: 0%;
  margin-right: 0%;
  top: 0px; }

#barcode {
  font-family: 'Libre Barcode 39', cursive; }

input[type='button'],
input[type='submit'],
input[type='reset'] {
  font-family: 'Spinnaker', sans-serif;
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 12px 8px;
  cursor: pointer;
  border-radius: 3%;
  padding: 0;
  border: none;
  background: none;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

input[type='submit']:hover {
  color: #e9443e; }

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box; }

.fa-box-open,
.fa-newspaper {
  font-size: 50px; }

.productBox,
.articleBox {
  background-color: white;
  border-top-style: dashed;
  margin: 5px;
  padding: 10px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 102px; }

#smallLogo {
  width: 100%;
  height: 10px; }

.messageBox {
  font-size: 30px;
  color: #e9443e;
  border: 1px dashed #ff6f69; }
