body {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  margin: 0;
  font-family: 'Monoton', cursive; }

#navBar {
  display: flex;
  justify-content: space-around;
  background-color: #ff6f69;
  top: 0;
  width: 100%; }

#headerBox {
  background-color: #ff6f69;
  top: 0;
  width: 100%; }

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: white;
  border: none;
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3%;
  border: solid 1px black; }

input[type='text'] {
  background-color: #ffeead;
  color: black; }

.productBox,
.articleBox {
  background-color: #ffeead;
  border: solid 1px black;
  margin: 5px;
  padding: 10px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 102px; }
