<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Articles and Products</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  {{>fonts}}

</head>

<body>
  {{>header}}
  <div id="welcome">Welcome to Article and Products Express!</div>
  <img src="http://www.housingeurope.eu/image/163/sectionheaderpng/resourcesdef.png" alt="">
  {{>footer}}
  {{>script}}
</body>

</html>