<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {{>header}}

  <h1>{{title}}</h1>
  <h3>by: {{author}}</h2>
    <p>{{body}}</p>

    <form method="GET" action="/articles/{{title}}/edit">

      <input type="submit" value="EDIT">
    </form>
    <form method="Get" action="/articles">

      <input type="submit" value="Back to Articles">
    </form>
    {{>footer}}
</body>

</html>